@import "tailwindcss";

:root {
  font-family: Poppins-Bold, Poppins-Regular;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FCFDE8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: Poppins-Bold;
    src: url('./assets/Font/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Poppins-Regular;
    src: url('./assets/Font/Poppins-Medium.ttf') format('truetype');
}